<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riffit - {{{Title}}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                {{#if session}}
                <li><a href="/users/me">My Profile</a></li>
                <li><a href="/signout">Sign Out</a></li>
                <li><a href="/posts/new">Create Post</a></li>
                {{else}}
                <li><a href="/login">Sign In</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
                <li><a href="/posts/search">Search</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src = "/public/js/validation.js"></script>
    <script src="/public/js/auth_validation.js"></script>
    <script src="/public/js/tag_validation.js"></script>
    <script src="/public/js/pfp_validation.js"></script>
    <script src="/public/js/post_controls.js"></script>
</body>
</html>