<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riffit - {{{Title}}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src = "/public/js/validation.js"></script>
    <script src="/public/js/form_validation.js"></script>
    <script src="/public/js/error_handling.js"></script>
</body>
</html>