
<main>
    <h1>Create a Post</h1>
    <form action="/posts/new" method="post" id="post-create-form" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <label for="notation">Tab/Chords/Notation:</label>
        <textarea id="notation" name="notation" rows="7" cols="100">
e|---------------------------------------------------------------|
B|---------------------------------------------------------------|
G|---------------------------------------------------------------|
D|---------------------------------------------------------------|
A|---------------------------------------------------------------|
E|---------------------------------------------------------------|</textarea>
        
        <label for="key">Key:</label>
        <input type="text" id="key" name="key" required>
        
        <label for="instrument">Instrument:</label>
        <input type="text" id="instrument" name="instrument" required>
        
        <label for="audio">Upload Audio File:</label>
        <input type="file" id="audio" name="audio" accept="audio/mpeg" required>

        <label for="tag-input-0">Tag 1:</label>
        <input type="text" name="tags[]" placeholder="Tag" id="tag-input-0" required>

        <button id="add-tag-button" type="button">Add Tag</button>
        <button id="remove-tag-button" type="button">Remove Tag</button>
        
        <button type="submit">Create Post</button>

        <input type="number" name="tagCount" id="tagCount" value="1" hidden>
    </form>
    
    {{#if error}}
    
    <p class="error">{{error}}</p>  
    
    {{/if}}
</main>

