
<main>
  <p>Search for Post</p>
  <form action="/search" method="POST" class="new-post-search">

    <label for="postSearch" id = "post-Search">
      Search Movie by Title: 
      <input type="text" name="postSearch" placeholder="Search By Tag" id="postSearch">
    </label>
    
    <input type="submit" id = "search-button" value="Search">
  </form>

</main>