<main>
  <p>Search</p>
  <form action="/posts/search" id="search-form" method="POST" class="new-post-search">
    <input type="submit" id="search-button" value="Search">

    <label for="tag-input-0">Tag 0:</label>
    <input type="text" name="tags[]" placeholder="Tag" id="tag-input-0" required>

    <button id="add-tag-button" type="button">Add Tag</button>
    <button id="remove-tag-button" type="button">Remove Tag</button>

    <label for="sorting">Sort by:</label>
    <select id="sorting" name="sorting">
      <option value="newest" selected>Newest</option>
      <option value="oldest">Oldest</option>
      <option value="most_popular">Most Popular</option>
      <option value="least_popular">Least Popular</option>
    </select>

    {{#if posts}}
    <label for="page">Page:</label>
    <input type="number" name="page" id="page" value="1" min="1">
    {{/if}}

    <input type="number" name="tagCount" id="tagCount" value="1" hidden>
  </form>

  {{> error_msg error=error}}
  
  {{#if posts}}
  <ul>
    {{#each posts}}
    <li class = "post-item">
      {{> post post=this session=../session}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</main>