<main>

        <ul>
            {{#each posts}}
            <li class = "post-item">
                {{> post post=this}}
            </li>
            {{/each}}
        </ul>
    
        
    </main>