
<main>
    <h1>Create An Account</h1>
    <form action="/signup" method="post" id="signup-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword">

        <label for="submit_button">Sign Up</label>
        <input type="submit" name="submit_button" id="submit_button">
    </form>

    <div class="error-message"></div>
    {{#if error}}
    
    <p class="error">{{error}}</p>
    
    {{/if}}

    <a href="/login"><p>Already have an account? Click here to sign in</p></a>
</main>

