
<main>
    <h1>Create An Account</h1>
    <form action="/signup" method="post" id="signup-form">
        <label for="username">Username:
        <input type="text" id="username" name="username">
        </label>

        <label for="password">Password:
            <p>Passwords must contain at least: 1 Capital Letter, 1 Symbol, and 1 Number</p> 
        <input type="password" id="password" name="password">
        <input type="checkbox" id="togglePassword"> Show Password
        </label>

        <label for="confirmPassword">Confirm Password:
        <input type="password" id="confirmPassword" name="confirmPassword">
        <input type="checkbox" id="toggleConfirmPassword"> Show Password
        </label>

        
        <input type="submit" name="submit_button" id="submit_button" value = "Sign Up">
    </form>

    <div class="error-message"></div>

    
    {{#if error}}
    
    <p class="error">{{error}}</p>  
    
    {{/if}}

    <a href="/login"><p>Already have an account? Click here to sign in</p></a>
</main>

