<main>
    <h1>{{user.username}}'s Favorites</h1>
    <ul>
        {{#each posts}}
        <li>
            {{> post session=../session post=this}}
        </li>
        {{/each}}
    </ul>
    <a href="/">Return to the homepage</a>
</main>