<main>
    <h1>{{user.username}}'s Dislikes</h1>
    <ul>
        {{#each posts}}
        <li>
            {{> post post=this session=../session}}
        </li>
        {{/each}}
    </ul>
    <a href="/">Return to the homepage</a>
</main>