<main>
    <h1>{{user.username}}'s Comments</h1>
    <ul>
        {{#each comments}}
        <li>
            <p>{{this.content}}</p>
            <small>Posted on: {{this.date}}</small>
            <a href="/posts/{{this.postId}}">View Post</a>
        </li>
        {{/each}}
    </ul>
    <a href="/">Return to the homepage</a>
</main>