<main>
    <h1>{{user.username}}'s Likes</h1>
    <ul>
        {{#each user.likedPosts}}
        <li>
            {{> post session=session post=this}}
        </li>
        {{/each}}
    </ul>
    <a href="/">Return to the homepage</a>
</main>